<footer class="footer">
	<ul class="footer-links">
		<li><a href="http://github.com/seungjo"> <i
				class="fa fa-inverse fa-github fa-3x"></i></a></li>
		<li><a href="http://www.linkedin.com/in/seungjae-oh-095853a5"> <i
				class="fa fa-inverse fa-linkedin-square fa-3x"></i></a></li>
		<li><a href="https://twitter.com/"> <i
				class="fa fa-inverse fa-twitter fa-3x"></i></a></li>
		<li><a href="https://www.kaggle.com/seungjo2"> <i
				class="fa fa-inverse fa-kaggle fa-3x"></i></a></li>
		<li><a href="https://www.facebook.com/profile.php?id=100007812915705"> <i
				class="fa fa-inverse fa-facebook fa-3x"></i></a></li>

	</ul>
</footer>
